MobTemplate(
	id: "internet_troll",
	short_name: "troll",
	long_name: "annoying troll",
	tagline: "",
	description: "An unusually annoying creature which enjoys provoking its victims with verbal attacks.",
	ascii_glyph: 't',
	unicode_glyph: '☻',
	glyph_fg: Some(
		Color(
			red: 210, blue: 255,
			green: 200, alpha: 0,
		)
	),
	alignment: Hostile,
	height: Random(96, 128),
	width: Random(39, 49),
	weight: Random(20, 28),
	composition: "troll flesh",
	normal_body_temperature: Random(303, 318),
	min_body_temperature: Random(297, 299),
	max_body_temperature: Random(312, 318),
	needs_food: true,
	needs_drink: true,
	needs_sleep: true,
	greetings: [
		"sup dumbass",
		"back already?",
		// TODO
	],
	misc_lines: [
		"get a life loser",
		"lmaooooo",
		"lmaooooooooooo",
		"LMAOOOOOOOOOOO",
		// TODO
	],
	farewells: [
		// TODO
	],
	strength: Random(7, 8),
	agility: Random(128, 129),
	endurance: Random(4, 5),
	metabolism: Random(14, 15),
	willpower: Manual(4),
	focus: Random(4, 5),
	bravery: Random(1, 2),
	intelligence: Random(16, 19),
	aggressive: Random(9, 12),
	movement: Active,
	age: Random(10, 15),
	max_age: Some(Random(16, 18)),
	summoner: false,
	summonable: true,
	undead: false,
	opposed_to_life: false,
	necromancer: Manual(0),
	vampire: false,
	is_unique: false,
	max_in_map: Some(8),
)
