// vim: ts=4 sts=4 sw=4 expandtab

DungeonSpecification(
    world_name: "Stiapocumne",
    layers: [
        LayerSpecification(
            levels: 10,
            dimensions: (200, 100),
            composition: MineralPlacementOptions(
                noise_exponent: 5.12,
                allowed_stone: IgneousExtrusive,
                noise_algorithm: BasicMulti,
                noise_overlap: 6,
                noise_seed: Random(0, 512),
            ),
            inhabitants: MobPlacementOptions(
                noise_exponent: 1.28,
                allowed_classes: [MiddleMob],
                noise_algorithm: Perlin,
                noise_overlap: 6,
                noise_seed: Random(0, 64),
            ),
            algorithms: [
                RandomRooms(
                     RandomRoomsOptions(
                         max_rooms: None,
                         max_tunnels: Some(0),
                         room_max_width: 16,
                         room_max_height: 8,
                         room_min_width: 4,
                         room_min_height: 2,
                         room_border: 8,
                     )
                 ),

                 Maze(
                     MazeOptions(
                         remove_dead_ends: Some(5),
                         connect_to_features: true,
                         chance_for_connection: 1,
                     ),
                 ),
            ],
        ),
    ]
)
