MaterialInfo(
	name: "basalt",
	description: "a rather common, dark rock originating from the magma flows that once filled the earth",
	class: Stone(
		StoneInfo(
			stone_type: IgneousExtrusive,
			found_near: [],
		),
	),
	rarity: 0,
	density: 2.9,
	color: Color(
		red: 71, blue: 69,
		green: 70, alpha: 0,
	),
	melting_point: 1257.15,
	combustible: None,
	smelt_result: None,
	hardness: 6.1,
	specific_heat: 0.84,
	emit_light: 0,
	occurs_naturally: Some([Block]),
	edible: false,
)
