MaterialInfo(
	name: "basalt",
	description: "a rather common, dark rock originating from the magma flows that once filled the earth",
	class: Stone(
		StoneInfo(
			stone_type: IgneousExtrusive,
			found_near: [],
		),
	),
	rarity: 0,
	density: 2.9,
	color_bg: Color(
		red: 158, blue: 158,
		green: 158, alpha: 0,
	),
	color_fg: Color(
		red: 80, blue: 80,
		green: 80, alpha: 0,
	),
	block_glyph: '#',
	melting_point: 1257.15,
	combustible: None,
	smelt_result: None,
	hardness: 6.1,
	specific_heat: 0.84, // NOT ACCURATE
	emit_light: 0,
	occurs_naturally: Some([Block]),
	edible: false,
)
