MaterialInfo(
	name: "elf flesh",
	description: "Tastes salty...", // TODO
	class: Flesh,
	rarity: 0,
	density: 1,
	color_fg: Color(
		red: 164,  blue: 35,
		green: 35, alpha: 0,
	),
	color_bg: Color(
		red: 0, blue: 0,
		green: 0, alpha: 0,
	),
	block_glyph: 'α',
	melting_point: 123.45, // how does flesh melt anyway
	combustible: Some(513.62),
	smelt_result: None,
	hardness: 0.1, // lol
	specific_heat: 3.4,
	emit_light: 0,
	occurs_naturally: None,
	edible: true, // yummy
)
