MaterialInfo(
	name: "granite",
	description: "", // TODO
	class: Stone(
		StoneInfo(
			stone_type: IgneousExtrusive,
			found_near: [], // TODO
		),
	),
	rarity: 1,
	density: 2.75,
	color_fg: Color(
		red: 64, blue: 64,
		green: 64, alpha: 0,
	),
	color_bg: Color(
		red: 90, blue: 20,
		green: 50, alpha: 0,
	),
	block_glyph: '▒',
	melting_point: 1533.15,
	combustible: None,
	smelt_result: None,
	hardness: 6.7,
	specific_heat: 0.79, // ???
	emit_light: 0,
	occurs_naturally: Some([Block]),
	edible: false,
)
