MaterialInfo(
	name: "obsidian",
	description: "", // TODO
	class: Stone(
		StoneInfo(
			stone_type: IgneousExtrusive,
			found_near: [], // TODO
		),
	),
	rarity: 250,
	density: 2.55,
	color_bg: Color(
		red: 210, blue: 210,
		green: 210, alpha: 0,
	),
	color_fg: Color(
		red: 210, blue: 210,
		green: 255, alpha: 0,
	),
	block_glyph: '▒',
	melting_point: 1073.15,
	combustible: None,
	smelt_result: None,
	hardness: 5.5,
	specific_heat: 0.24, // NOT ACCURATE
	emit_light: 0,
	occurs_naturally: Some([Block]),
	edible: false,
)
